
#gridpane{
       -fx-background-color: #2A0033;
}

.button {
    -fx-background-color: #2A0033;
    -fx-background-insets: 0;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
}